<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>CleanJay</title>
</head>
<body>

<p>You received a cleaning offer!
<br />=====================================================</p>

<p>You can see your offers here:</p>

<p><a href=<%= @my_booking_link %>><%= @my_booking_link %></a> </p>
<br /><br />


<p>P.S. Yes, this is an automated email BUT please don't hesitate to reply to this email if you have any questions or feedback!</p>
<br />

<p>
Tom Kaniuch<br />
CleanJay | http://www.cleanjay.ca<br />
1 (888) 778-3035 ext. 701 (Toll-Free)
</p>

</body>
</html>
