<div class="container">
  <div class="row-fluid">
    <div class="span5">

      <h1>Choosing a Maid</h1>

      <p>
      Hiring a maid can be daunting task if you have never done so before. After All, you’ll be giving this person full access to your home so trust is very important. Here are some things to consider when looking for a maid service.
      </p>
      <p>
      <h3>How did you find the maid service?</h3>
      When giving someone access to your home it’s a good idea to do your research. If you just found someone in the phone book or Craiglist then you should definitely ask for references. Additionally, it's good to check if the maid service is insured and bonded incase anything is broken or goes missing.
      </p>
      <p>
      <h3>One time or repeat cleanings?</h3>
      Are you looking for a one-time cleaning or do you plan on scheduling repeated cleanings? If you’re planning having a maid visit regularly then it’s recommended that you find a service that will send the same maid each time. This way the maid will get to know your home and your preferences which will make it a better experience for everyone involved.
      </p>
      <p>
      <h3>Do you have any special requests?</h3>
      Make sure that you inform the potential maid of any special circumstances as not all maid offer the same range of services. For example, here are some services that a maid may or may not offer:
      </p>
      <ul>
        <li>Stove, microw-fluidave and fridge cleaning</li>
        <li>Cleaning after pets, pet areas and pet stains</li>
        <li>Moving furniture to clean underneath and behind</li>
        <li>Exterior window cleaning</li>
        <li>Interior window cleaning</li>
        <li>Laundry</li>
        <li>Dishes washed and put away</li>
        <li>Plants watered </li>
        <li>Pick up and organize your belongings</li>
      </ul>
      <p>
      Make sure you are clear about what you want done so there aren’t any surprises or unmet expectations down the road.
      </p>


    </div>
  </div>
</div>
