		<!-- ==============================================
		HEADER
		=============================================== -->
		<section id="city-header" class="color-bg light-typo padding-top-bottom">
		
			<div class="container center">
				
				<h1 class="section-title">Fing cleaning services in your town</h1>
				
				<p class="section-description">Easily compare quotes from the best cleaning services in your area</p>
											
				<a id="home_go_to_city_montreal" class="btn btn-qubico white" href="/cleaning-services-montreal"><i class="fa fa-arrow-right"></i>Montreal</a>
									
			</div><!-- End container -->
			
		</section>
				
