<div class="jumbotron">
  <div class="container">
    <h1>CleanJay</h1>
    <p>The easiest way to find an awesome cleaning service in your city</p>
		<a class="btn btn-large btn-primary" href="/c/vancouver-bc/home-cleaners">
      <i class="icon-map-marker pull-left"></i>
      Vancouver
		</a>

		<a class="btn btn-large btn-primary" href="/c/toronto-on/home-cleaners">
      <i class="icon-map-marker pull-left"></i>
      Toronto
		</a>

		<a class="btn btn-large btn-primary" href="/c/montreal-qc/home-cleaners">
      <i class="icon-map-marker pull-left"></i>
      Montreal
		</a>
  </div>
</div>


<div id="proof">
  <div class="container">
		<div class="row">
			<div id="benefits" class="col-md-12">		
				<div class="row">
			
					<div class="col-md-4">
						<h2><i class="icon-circle-blank"></i> Simple</h2>
						<p>CleanZap takes the guesswork out of finding a great cleaner.</p>
					</div>

					<div class="col-md-4">
						<h2><i class="icon-check"></i> Verified</h2>
						<p>All of our cleaners go through a screening process so that you know exaclty who you're dealing with.</p>
					</div>

					<div class="col-md-4">
						<h2><i class="icon-star-empty"></i> Reviewed</h2>
						<p>Our cleaners are reviewed after each job so there won't be any suprises.</p>
					</div>

				</div>
			</div>
		</div>
  </div>
</div>


