<h1>Hello</h1>

<p class="lead">
  Looks like you haven't created a Profile yet. Click the button below to get started.
</p>

<a class="btn btn-large btn-primary" href="/profiles/new">Create Profile</a>
