/*--------------------
-----General------
----------------------*/

.center {text-align: center;}

.marg-top-100 {margin-top: 100px;}
.marg-top-40 {margin-top: 40px;}
.marg-bot-20 {margin-bottom: 20px;}
.marg-bot-30 {margin-bottom: 30px;}

.pad-bot-100 {padding-bottom: 100px;}

.cyan {color: #5CC9DF;}
.white {color: #fff;}
.light-grey {color: #eaeaea;}
.darker-grey {color: #c8c8c8;}

.no-after:after {
  visibility: hidden !important;
}

.btn-primary {
color: #fff;
background-color: #5CC9DF;
border-color: #5CC9DF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #5CC9DF;
border-color: #5CC9DF;
}

.btn-qubico-white {
  background: #fff;
  color: #5CC9DF;
}

.btn-qubico-white:hover {
  background: #5CC9DF;
  color: #fff;
}

.modal-footer .btn-qubico {
margin: 0px;
font-size: 16px;
padding: 10px 20px;
}

#main-nav {
background: #5CC9DF;
color: #fff;
box-shadow: 0 0 0px rgba(0,0,0,0.3);
z-index: 100;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: #fff;
}

#main-nav .nav a, #main-nav .nav a:active, #main-nav .nav a:hover {
  color: #fff;
}

#page-header .section-title {
  text-transform: none;
  margin-top: 100px;
}

#page-header .section-description {
  margin-bottom: 40px;
}


#main-footer {background: #C0C0C0;}

#contact-form .form-control {
  display: inline;
  background: #fff;
  border: 2px solid #5CC9DF;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 0 rgba(0,0,0,0.05);
  height: 52px;
  font-size: 18px;
  line-height: 32px;
  color: #585858;
  font-weight: 400;
  padding-left: 64px;
  vertical-align: top;
}

.form-control::-moz-placeholder {
  color: #7b7b7b;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #7b7b7b;
}
.form-control::-webkit-input-placeholder {
  color: #7b7b7b;
}

#double-header {
  padding: 40px 0;
}

#double-header .section-title {
  text-transform: none;
  margin-bottom: 20px;
  padding-top: 10px;
}

#double-header .section-description {
  margin-bottom: 100px;
  font-size: 25px;
  line-height: 30px;
  padding: 10px 0;
}

#single-header {
  padding: 40px 0 60px;
}

#single-header .section-title {
  text-transform: none;
  margin-bottom: 20px;
  padding-top: 10px;
}

#single-header .section-title:after {
  visibility: hidden;
}

/*--------------------
-----Home Page------
----------------------*/

#home-header {
  background-image: url("../assets/home-header.jpg");
}

#home-header .section-title {
  text-transform: none;
  margin-top: 140px;
}
#home-header .btn-qubico {
  background: #fff;
  color: #5cc9df;
  text-decoration: none;
}

#home-header .section-description {
  margin-bottom: 60px;
}

.process-list li:nth-child(1) .icon{
    color: #fff;
    background: #5cc9df;
}

.process-list li:nth-child(2) .icon{
    color: #fff;
    background: #5cc9df;
}

.process-list li:nth-child(3) .icon{
    color: #fff;
    background: #5cc9df;
}


/*--------------------
-----City Page------
----------------------*/

.color-bg.light-typo .section-title:after {
visibility: visible;
}

#city-header {
  padding-bottom: 0;
}

#city-header h1 {
}

#city-header .section-description {
  font-size: 25px;
  line-height: 30px;
  padding: 10px 0;
}  

#city-header h2 {
  color: rgb(122, 124, 127);
  font-family: Lato, Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
  padding: 20px 0px 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#city-header .col-md-8 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#city-header .section-title {
  text-transform: none;
  margin-bottom: 20px;
  padding-top: 10px;
}

#city-header .section-description {
  margin-bottom: 20px;
}

#city-header .btn-qubico {
  margin-bottom: 100px;
}

#city-how {
  margin-bottom: 200px;
}

#city-how .section-description {
  font-weight: 300;
}

#city-how .process-list li {
  margin: 20px 30px;  
}

#city-how  h1 {
  margin-top: 20px;
}

#city-how .process-list h4 {
  font-size: 20px;
}

.btn-default-qubico {
  font-family: inherit;
  font-size: inherit;
  color: #585858;
  background-color: #fff;
  border: 2px solid #5CC9DF;
  padding: 15px 30px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 5px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.05);
}

.btn-group-qubico {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 15px 30px;
  display: inline-block;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: normal;
  outline: none;
  position: relative;
  background: #fff;
  color: rgb(170, 170, 170);
  box-shadow: 0 4px rgba(0,0,0,0.07);
  border-radius: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.121569) 0px 0px 0px 0px inset;
  background: #5CC9DF;
  color: #fff;
}

.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -2px;
}

h2.section-title {
position: relative;
margin-bottom: 40px;
font-size: 42px;
line-height: 64px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
text-transform: none;
}

.process-box {
  margin-bottom: 0px;
}

.process-list h4 {
font-weight: 600;
font-size: 30px;
}

.how-wrapper {
position: relative;
top: 20px;
background: rgba(255,255,255,1);
padding-top: 40px;
padding-bottom: 40px;
border-radius: 7px;
color: #777;
box-shadow: 5px 5px 0 rgba(0,0,0,0.05);
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}

#create-booking .subsection-title {
  margin-bottom: 10px;
  margin-top: 0px;
}

#create-booking .section-description {
font-weight: 300;
}

#step-1 {
  margin-bottom: 300px;
}

#new_job > div.controls > div > label.btn.btn-default-qubico.active > i {
  COLOR: #FFF;
}

/*--------------------
-----Booking Page------
----------------------*/

#booking {
 margin-top: 0px;
}

#booking-header {
padding: 40px 0;
}

#booking-header .section-description {
  font-size: 25px;
  line-height: 30px;
  padding: 10px 0;
}

#booking-header .section-title {
  text-transform: none;
  margin-bottom: 20px;
  padding-top: 10px;
}

#booking-header .section-description {
  margin-bottom: 20px;
}

#booking-details .booking-date {
  margin-top: 0px;
}

.booking-date {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 40px;
}

.booking-description {
  text-align: center;	
}

.booking-items {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.booking-item {
  padding: 5px 0px;
  font-weight: 500;
  margin: 0;
}

#blog-categories ul li span, #blog-categories ul li span:active, #blog-categories ul li span:hover {
line-height: 24px;
background: #fff;
color: #4E5961;
text-decoration: none;
}

#blog-categories ul li span {
display: block;
font-size: 18px;
font-weight: 500;
padding: 10px 20px;
border-radius: 5px;
border: 2px solid transparent;
-webkit-transition: all .2s ease-out;
transition: all .2s ease-out;
}

#blog-categories p {
  text-align: center;
display: block;
font-size: 18px;
font-weight: 500;
padding: 0px;
margin-top: 5px;
margin-bottom: 0px;
border-radius: 5px;
border: 2px solid transparent;
-webkit-transition: all .2s ease-out;
transition: all .2s ease-out;
}

#blog-categories ul {
padding-top: 20px;
}

#offers {
  margin: 0px 0 80px 0;
}

.offer {
  margin-top: 40px;
}

.offers .offer-details {
margin: 20px 0 0 20px;
position: relative;
padding: 30px;
padding-left: 100px;
background: #f5f5f5;
border-radius: 10px;
box-shadow: 5px 5px 0 rgba(0,0,0,0.08);
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.offers .member-socials {
list-style: none;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.offers .member-socials li {
display: inline;
text-align: center;
margin: 0 2px;
}

#offers img {
  width: 100%;
}

#booking .bubble {
  margin: 20px 30px 0 0;
  position: relative;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.08);
}

#booking .bubble .booking-date {
  font-size: 24px;
  font-weight: 300;
}

.news-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.booking-description {
  margin-bottom: 10px;
}

#offers .price {
font-size: 28px;
font-weight: 100;
line-height: 48px;
margin-bottom: 30px;
}


.offer-item {
  margin-bottom: 30px;
  margin-top: 70px;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
}

.offer-item .icon {
  margin-top: 20px;
}

.offer-item h2 {
  margin-bottom: 0px;
}

.offer-item .price-details {
  margin-bottom: 10px;
}

.offer-item .btn-qubico {
margin-top: 20px;
margin-bottom: 20px;
font-size: 16px;
padding: 10px 20px;
}

.offer-pricing .item {
  border: 2px solid #5cc9df;
  margin-bottom: 30px;
}

.offer-pricing .item .icon {
  background: #fff;
}

.offer-pricing .item:hover .icon {
  color: #5cc9df;
  background-color: #5cc9df;
}

.offer-pricing .item .about {
  font-size: 15px;
  font-weight: 100;
}

#offers .price {
  margin-bottom: 0px;
  margin-top: 0px;
}


/*--------------------
-----My Booking------
----------------------*/

.pricing .item:hover, .pricing .item:hover .icon, .pricing .item.featured {
background: #fff;
color: #777;
}

.pricing .item.featured .btn-qubico, .pricing .item:hover .btn-qubico {
background: #5CC9DF;
color: #fff;
}

/*--------------------
-----Dashboard------
----------------------*/



#booking {
 margin-top: 0px;
}

.booking-date {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
}

.booking-description {
  text-align: center;
  margin-bottom: 20px;	
}

.booking-items {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.booking-item {
  padding: 5px 0px;
  font-weight: 500;
  margin: 0;
}

.nav-pills > li > a {
border-radius: 5px;
color: #5CC9DF;
font-family: Lato, Arial, sans-serif;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
border: 2px solid #5CC9DF;
margin-right: 20px;
}

.badge {
background-color: #5CC9DF;
font-size: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #fff;
background-color: #5CC9DF;
}

a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
color: #5CC9DF;
background-color: #fff;
}

.btn-qubico.white:hover, .btn-qubico.white:focus, .btn-qubico.white:active {
background: #fff;
color: #5CC9DF;
top: 0;
box-shadow: 0 3px rgba(0,0,0,0.1);
text-decoration: none;
}

.booking-panel p, .booking-panel h4 {
  margin-bottom: 5px; 
}























