<div id="footer">
  <footer class="footer-widgets">
    <div class="container footer-wrap">
      	<div class="row">
          
          
          	<div class="col-md-4 col-xs-12">
            	<div class="widget-title"><h5>Cities</h5></div>
              <p><a href="/cleaning-services-vancouver" class="city">Vancouver</a></p>
              <p><a href="/cleaning-services-toronto" class="city">Toronto</a></p>
              <p><a href="/cleaning-services-calgary" class="city">Calgary</a></p>
              <p><a href="/cleaning-services-edmonton" class="city">Edmonton</a></p>
            </div>
          
          	<div class="col-md-4 col-xs-12">
            	<div class="widget-title"><h5>Connect</h5></div>
                <div class="social-icon">
                  <a href="http://twitter.com/gocleanjay" class="foundicon-twitter"><i class="fa fa-twitter"></i></a>
                  <!--
                  <a href="#" class="foundicon-facebook"></a>
                  <a href="#" class="foundicon-pinterest"></a>
                  <a href="#" class="foundicon-google-plus"></a>
                  <a href="#" class="foundicon-instagram"></a>
                  -->
              </div>
            </div>
              
          	<div class="col-md-4 col-xs-12">
            	<div class="widget-title"><h5>About CleanJay</h5></div>
              <p>CleanJay connects people with local cleaning services.</p>
            </div>
            
          </div>
      </div>
  </footer>

  <footer class="footer-bottom">
	  <div class="container">
      	<div class="row">
          	<div class="col-md-12 col-sm-12">
              	<span class="copyrights">&copy; Copyright 2014 by <a href="#">CleanJay</a>. All rights reserved.</span>
                  <!--
                  <nav id="footer-bottom-nav" class="hidden-xs">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About us</a></li>
                          <li><a href="portfolio-3col.html">Portfolio</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                  </nav>
                  -->
              </div>
          </div>
      </div>
  </footer>  
</div>
